{{- define "paging" }}
  {{- if or .EncryptedPreviousPage .EncryptedNextPage }}
  <div class="row align-items-center">
    <div class="col-6">
      {{- if .EncryptedPreviousPage }}
      <a class="btn btn-info btn-lg btn-previous" href="{{ .Path }}?{{ .PreviousQuery }}">Previous</a>
      {{- end }}
    </div>
    <div class="col-6 text-end">
      {{- if .EncryptedNextPage }}
      <a class="btn btn-info btn-lg btn-next" href="{{ .Path }}?{{ .NextQuery }}">Next</a>
      {{- end }}
    </div>
  </div>
  {{- end }}
{{- end }}
