{{/* Template nesting strategy taken from http://stackoverflow.com/a/11468132/329700 */}}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ if .Data.Title }}{{ .Data.Title }} - Logrole{{ else }}Logrole{{ end }}</title>
    <meta name="description" content="A fast, configurable Twilio log viewer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{{ url "/static/favicon-32x32.png" }}" sizes="32x32">
    <link rel="icon" type="image/x-icon" href="{{ url "/static/favicon.ico" }}" sizes="16x16">
    <link rel="apple-touch-icon" href="{{ url "/static/apple-touch-icon.png" }}">
    <link rel="search" type="application/opensearchdescription+xml" title="Logrole" href="{{ url "/opensearch.xml" }}" />
    <link rel="stylesheet" href="{{ url "/static/css/all.css" }}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid px-4">
        <a class="home-link navbar-brand{{ if eq .Path "/" }} active{{ end }}"
          {{ if eq .Path "/" }}aria-current="page"{{ end }}
          href="{{ url "/" }}">Logrole</a>
        <div id="navbar" class="navbar-nav-wrap">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link{{ if eq .Path "/calls" }} active{{ end }}"
                {{ if eq .Path "/calls" }}aria-current="page"{{ end }}
                href="{{ url "/calls" }}">Calls</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{ if eq .Path "/conferences" }} active{{ end }}"
                {{ if eq .Path "/conferences" }}aria-current="page"{{ end }}
                href="{{ url "/conferences" }}">Conferences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{ if eq .Path "/messages" }} active{{ end }}"
                {{ if eq .Path "/messages" }}aria-current="page"{{ end }}
                href="{{ url "/messages" }}">Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{ if eq .Path "/phone-numbers" }} active{{ end }}"
                {{ if eq .Path "/phone-numbers" }}aria-current="page"{{ end }}
                href="{{ url "/phone-numbers" }}">Phone Numbers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{ if eq .Path "/alerts" }} active{{ end }}"
                {{ if eq .Path "/alerts" }}aria-current="page"{{ end }}
                href="{{ url "/alerts" }}">Alerts</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-secondary">
            <li class="nav-item">
              <a class="nav-link" href="https://status.twilio.com">Twilio Status</a>
            </li>
            {{- if .LF }}
            <li class="nav-item tz-control">
              <form method="POST" action="{{ url "/tz" }}">
                <input type="hidden" name="g" value="{{ url .Path }}" />
                <select name="tz" id="tz-select" class="form-select form-select-sm">
                  <option>Choose a timezone...</option>
                  {{- range .LF.Locations }}
                  <option value="{{ .String }}" {{ if eq $.TZ .String }}selected="selected"{{ end }}>
                    {{ friendly_loc . }} ({{ tztime $.Now $.LF .String }})
                  </option>
                  {{- end }}
                </select>
              </form>
            </li>
            {{- end }}
            {{- if eq .LoggedOut false }}
            <li class="nav-item">
              <form method="post" action="{{ url "/auth/logout" }}">
                <input class="btn btn-link nav-link logout" name="Logout" value="Logout" type="submit" />
              </form>
            </li>
            {{- end }}
          </ul>
        </div>
      </div>
    </nav>

    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <main class="page container-fluid px-4 py-4">
      <div class="row mb-3">
        <div class="col-12">
          <h2>{{ if .Data.Title }}{{ .Data.Title }}{{ else }}Logrole{{ end }}</h2>
        </div>
      </div>
      {{template "content" .Data }}
    </main>
    <footer class="footer">
      <div class="container-fluid px-4">
        <div class="row timings">
          {{- if gt .ReqDuration 0 }}
          <div class="col-md-2">
            Response time: {{ duration .ReqDuration }}
          </div>
          {{- end }}
          {{- if gt .CachedDuration 0 }}
          <div class="col-md-2">
            (from cache, {{ duration .CachedDuration }} old)
          </div>
          {{- else if gt .Duration 0 }}
          <div class="col-md-2">
            API request time: {{ duration .Duration }}
          </div>
          {{- end }}
          <div class="col-md-2">
            Render: {{ render .Start }}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
            Logrole version {{ .Version }}. Copyright 2016 Chris Bennett, 2017 Kevin Burke.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
            Logrole is <a href="{{ url "/open-source" }}">open source software.</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      var tzSelector = document.querySelector('#tz-select');
      if (tzSelector !== null) {
        tzSelector.addEventListener('change', function(e) {
          e.target.form.submit();
        });
      }
    </script>
  </body>
</html>
